@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@600;800&family=Jost:wght@300;400;600;700&display=swap");
.mouse {
  width: 24px;
  height: 38px;
  border-radius: 19px;
  border: 1.5px solid #5d51de;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%); }
  .mouse .overflow {
    height: 8px;
    overflow: hidden;
    position: relative;
    top: 8px;
    display: flex;
    justify-content: center; }
    .mouse .overflow .animate {
      width: 2px;
      height: 8px;
      position: absolute;
      background: #5d51de;
      animation: move 1.25s infinite cubic-bezier(0.46, 0.66, 0.57, 0.32); }

@keyframes move {
  0% {
    top: -9px; }
  100% {
    top: 9px; } }
