@font-face {
  font-family: 'Baloo Paaji 2';
  src: url("BalooPaaji2-SemiBold.eot");
  src: url("BalooPaaji2-SemiBold.eot?#iefix") format("embedded-opentype"), url("BalooPaaji2-SemiBold.woff2") format("woff2"), url("BalooPaaji2-SemiBold.woff") format("woff"), url("BalooPaaji2-SemiBold.ttf") format("truetype"), url("BalooPaaji2-SemiBold.svg#BalooPaaji2-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Jost';
  src: url("Jost-Regular.eot");
  src: url("Jost-Regular.eot?#iefix") format("embedded-opentype"), url("Jost-Regular.woff2") format("woff2"), url("Jost-Regular.woff") format("woff"), url("Jost-Regular.ttf") format("truetype"), url("Jost-Regular.svg#Jost-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Jost';
  src: url("Jost-Light.eot");
  src: url("Jost-Light.eot?#iefix") format("embedded-opentype"), url("Jost-Light.woff2") format("woff2"), url("Jost-Light.woff") format("woff"), url("Jost-Light.ttf") format("truetype"), url("Jost-Light.svg#Jost-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Jost';
  src: url("Jost-Bold.eot");
  src: url("Jost-Bold.eot?#iefix") format("embedded-opentype"), url("Jost-Bold.woff2") format("woff2"), url("Jost-Bold.woff") format("woff"), url("Jost-Bold.ttf") format("truetype"), url("Jost-Bold.svg#Jost-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Baloo Paaji 2';
  src: url("BalooPaaji2-ExtraBold.eot");
  src: url("BalooPaaji2-ExtraBold.eot?#iefix") format("embedded-opentype"), url("BalooPaaji2-ExtraBold.woff2") format("woff2"), url("BalooPaaji2-ExtraBold.woff") format("woff"), url("BalooPaaji2-ExtraBold.ttf") format("truetype"), url("BalooPaaji2-ExtraBold.svg#BalooPaaji2-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }

.hello {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 63%;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d931b0;
  height: 225px;
  justify-content: space-between; }

.hello .hi {
  font-weight: 400;
  font-size: 24px;
  margin: 0; }

.hello .name {
  font-size: 40px;
  margin: 0;
  font-weight: 700;
  background: linear-gradient(-145deg, #ff0031 0%, #5d51de 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  width: fit-content; }

.hello a {
  padding: 20px 62px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  background: linear-gradient(-120deg, #d931b0 0%, #5d51de 100%);
  border-radius: 31px;
  margin-top: 20px;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.28, 1.54); }

.hello a:hover {
  background: linear-gradient(120deg, #d931b0 0%, #5d51de 100%);
  box-shadow: 0px 0px 0 3px #5f124c; }

.hello a span {
  height: 14px; }

.hello a svg {
  font-size: 20px;
  margin: 0 10px 0 0; }
