@import "../../Styles/Variables.scss";

.experience {
    position: relative;
    height: auto;
    overflow: visible;
    min-height: 100vh;

    
    .container {
        width: 85%;
        display: unset;
        padding-left: 7%;
        margin-top: 60px;

        .data {
            height: auto;
            display: flex;
            align-items: center;

            .works {
                display: grid;
                grid-template-columns: 50% 50%;

                @media (max-width: 768px) {
                    grid-template-columns: 100%;
                }
            }
        }
    }
}
