@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@600;800&family=Jost:wght@300;400;600;700&display=swap");
.top {
  position: fixed;
  bottom: -80px;
  right: 40px;
  box-sizing: unset;
  transition: all 0.4s ease-in-out; }

.top span {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.3px solid #5d51de;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease-in-out; }

.top span svg {
  font-size: 24px;
  color: #5d51de; }

.top span:hover {
  background: linear-gradient(120deg, #d931b0 0%, #5d51de 100%); }

.top span:hover svg {
  color: #ffffff; }

.display {
  bottom: 80px; }
