@import "../../Styles/Variables.scss";

.contacts {
    flex-direction: column;
    .container {
        height: 93vh;
        .data {
            height: 35vh;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;

            p {
                font-family: $Jost;
                font-size: 34px;
                color: $DarkGray;
                line-height: 51px;
                text-align: center;
                font-weight: $Jost700;
                background: $TextGradient;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
            }

            ul {
                width: 60%;
                display: flex;
                justify-content: space-between;
                color: $Gray;
                font-size: 16px;
                flex-direction: row;

                li {
                    display: flex;
                    align-items: center;

                    svg {
                        font-size: 20px;
                        margin: 0 10px 0 0;
                    }
                    a {
                        color: $Gray;
                        &:hover {
                            color: $Blue;
                        }
                    }
                }
            }
        }
    }
    .footer {
        height: 7%;
        display: flex;
        align-items: center;
        width: 100%;

        .contain {
            width: 96%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                color: $Gray;
                font-size: 16px;
                display: flex;
                align-items: center;

                svg {
                    font-size: 20px;
                    margin: 0 3px;
                    color: $Pink;
                }
            }

            .socials {
                display: flex;
                justify-content: space-between;
                width: 15%;

                a {
                    font-size: 26px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $Gray;
                    transition: all 0.4s ease-in-out;
                }
                .linkedin {
                    &:hover {
                        color: #2867b2;
                    }
                }
                .facebook {
                    &:hover {
                        color: #3b5998;
                    }
                }
                .github {
                    font-size: 30px;
                    &:hover {
                        color: #24292e;
                    }
                }
                .instagram {
                    &:hover {
                        color: #833ab4;
                    }
                }
                .dropbox {
                    &:hover {
                        color: #0061ff;
                    }
                }
            }
        }
    }
}
