@import "./Styles/Variables.scss";

::-webkit-scrollbar {
  width: 0px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  behavior: "smooth";
  overflow: hidden;

  @media (max-width: 768px) {
    overflow-x: hidden;
    overflow-y: unset;
  }
}

body {
  margin: 0;
  font-family: $Jost;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  background: #f9f9f9;
  overflow: hidden;
  behavior: "smooth";

  @media (max-width: 768px) {
    overflow-x: hidden;
    overflow-y: unset;
  }
}

a {
  text-decoration: none;
}

video,
img {
  max-width: 100%;
}

section {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.container {
  width: 63%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

p {
  margin: 0;
}
