@font-face {
  font-family: 'Baloo Paaji 2';
  src: url("BalooPaaji2-SemiBold.eot");
  src: url("BalooPaaji2-SemiBold.eot?#iefix") format("embedded-opentype"), url("BalooPaaji2-SemiBold.woff2") format("woff2"), url("BalooPaaji2-SemiBold.woff") format("woff"), url("BalooPaaji2-SemiBold.ttf") format("truetype"), url("BalooPaaji2-SemiBold.svg#BalooPaaji2-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Jost';
  src: url("Jost-Regular.eot");
  src: url("Jost-Regular.eot?#iefix") format("embedded-opentype"), url("Jost-Regular.woff2") format("woff2"), url("Jost-Regular.woff") format("woff"), url("Jost-Regular.ttf") format("truetype"), url("Jost-Regular.svg#Jost-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Jost';
  src: url("Jost-Light.eot");
  src: url("Jost-Light.eot?#iefix") format("embedded-opentype"), url("Jost-Light.woff2") format("woff2"), url("Jost-Light.woff") format("woff"), url("Jost-Light.ttf") format("truetype"), url("Jost-Light.svg#Jost-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Jost';
  src: url("Jost-Bold.eot");
  src: url("Jost-Bold.eot?#iefix") format("embedded-opentype"), url("Jost-Bold.woff2") format("woff2"), url("Jost-Bold.woff") format("woff"), url("Jost-Bold.ttf") format("truetype"), url("Jost-Bold.svg#Jost-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Baloo Paaji 2';
  src: url("BalooPaaji2-ExtraBold.eot");
  src: url("BalooPaaji2-ExtraBold.eot?#iefix") format("embedded-opentype"), url("BalooPaaji2-ExtraBold.woff2") format("woff2"), url("BalooPaaji2-ExtraBold.woff") format("woff"), url("BalooPaaji2-ExtraBold.ttf") format("truetype"), url("BalooPaaji2-ExtraBold.svg#BalooPaaji2-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }

::-webkit-scrollbar {
  width: 0px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none; }

html {
  behavior: "smooth";
  overflow: hidden; }
  @media (max-width: 768px) {
    html {
      overflow-x: hidden;
      overflow-y: unset; } }

body {
  margin: 0;
  font-family: "Jost";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  background: #f9f9f9;
  overflow: hidden;
  behavior: "smooth"; }
  @media (max-width: 768px) {
    body {
      overflow-x: hidden;
      overflow-y: unset; } }

a {
  text-decoration: none; }

video,
img {
  max-width: 100%; }

section {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center; }

.container {
  width: 63%;
  margin: 0 auto;
  display: flex;
  align-items: center; }
  @media (max-width: 768px) {
    .container {
      width: 90%; } }

p {
  margin: 0; }
