@import "../../Styles/Variables.scss";

.work {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px 25px 0px;

    @media (max-width: 768px) {
        padding: 25px 0px 25px 0px;
    }

    .info {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;

        .head {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 50px;

            @media (max-width: 768px) {
                height: auto;
                max-height: 80px;
            }

            .position {
                color: $Blue;
                font-size: 24px;
                font-weight: $Baloo600;
                font-family: $Baloo;

                @media (max-width: 768px) {
                    font-size: 22px;
                    margin-bottom: 8px;
                }
            }

            .nameDate {
                display: flex;
                align-items: center;

                .compName {
                    color: $DarkGray;
                    font-size: 17px;
                    font-family: $Baloo;
                }

                .duration {
                    color: $Gray;
                    font-size: 14px;
                    font-family: $Jost;
                    font-weight: $Jost400;
                    margin-left: 20px;
                }
            }
        }
    }

    .information {
        ul {
            margin-top: 10px;
            list-style: decimal;

            li {
                color: $Gray;
                font-size: 16px;
                font-family: $Jost;
                list-style: decimal-leading-zero;
                line-height: 24px;
            }
        }
    }
}
